/**************
    GENERAL
**************/
html {
  /* background-color: black; */
  scroll-behavior: smooth;
}

/* .top-spacer {
    background-color:rgba(0,0,0,.025);
    top:0; left:0;
    width:100%;
    height: 30px;
    position: absolute;
} */

/**************
 ScrollBar Styles
**************/

/* width */
::-webkit-scrollbar {
    width: 20px;
    background: black;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,20,20,.5);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,100,100,1);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,20,20,.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(60,150,150,1);
    box-shadow: inset 0 0 5px rgba(0,20,20,.5);
}

body {
  margin: 0%;
  opacity: 1;
  transition: 3s opacity;
  letter-spacing: 0.2vw; /*vw is a relative measurement, 1vw is equal to 1% of the viewport width */
  font-size: 16px;
  overflow-x: hidden;
  user-select: none; /*prevents the text on the webpage from being highlighted by user */
}

body.fade-out {
  opacity: 0.1;
  transition: none;
}

h1 {
  text-transform: uppercase;
  font-family: "Georgia", Optima, sans-serif;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 10px;
  color: #1a1a1a;
  transition: transform 1s;
}

h1:hover {
  filter: grayscale(5%);
/*  transform: scale(1.05);*/
}

#title1 {
    color: white;
    background: rgba(168, 241, 241, 0.07);
    /* width: auto;*/
    width:100%;
    max-width: 100%;
    height: 90px;
    font-weight: 900;
    font-size: 30px;
    text-shadow: 5px 3.5px rgba(0, 20, 20, .92);
    padding-top: 115px;
    padding-bottom: 50px;
    margin: -20px 0 0 0 ;
}
.quote {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Georgia", Optima, sans-serif;
    background: rgba(168, 241, 241, 0.05);

}
q {
    font-size: 15px;
}

.shigeru {
    color: lightgreen;
    font-size: 15px;
    font-family: "Georgia", Optima, sans-serif;
}

/* .quote:hover {
    transform: scale(1.04);
    transition: transform 1s;
} */

.menu-icon {
  width: 36px;
  height: 8px;
  background-color: black;
  margin: 4px 0;
}

.white-text {
  padding-top: 3vh; /* adds padding equal to 10% of the viewport height- to top of the portfolio title text */
  color: #fff;
  font-size: 15px;
}

.bio{
    font-size: 16px;
    font-family: "Georgia", Optima, sans-serif;
    padding: 10px 20% 10px 20%;
    margin: 0;
  }

.badges {
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

p {
  font-family: Perpetua, Rockwell Extra Bold;
  text-align: justify;
  letter-spacing: 0.1vw;
  font-size: 16px;
  padding-left: 1vw;
  padding-right: 1vw;
}

.center {
  text-align: center;
}


a {
  color: blue;
  cursor: pointer;
  text-decoration: underline; /*ensures all links are underlined*/
}

q {
  font-style: italic;
}

.think-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .5s ease;
}

.think-icon:hover{
     transform: scale(1.25);
 }

.content-img {
  filter: grayscale(10%);
  border-radius: 25%;
  max-width: 85%;
  max-height: 85%;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  box-shadow: 3px 15px rgba(255,255,255,.3);
}

.github-img {
    filter: grayscale(45%);
    transition: transform .5s ease-in-out;
}
.github-img:hover {
    filter: grayscale(5%);
    transform: scale(1.15);
}

.content-img:hover {
    filter: grayscale(15%);
    /* transition: transform 1s; */
    /* transform: scale(1.05); */
}

.BC-img{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    .content-img {
        height: 150px;
        margin-top: 150px;
    }
}

footer {
  padding: 1%;
  background-color: rgb(0, 0, 0);
  color: white;
}

._footer {
    margin-bottom: 1px;
}
/**************
END GENERAL STYLES
**************/

/**************
NAVBAR STYLES
**************/

.Navbar {
  overflow: hidden; /* any content that overflows beyond the boundary of our nav bar is not displayed */
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  height: 55px;
  top: -10px;
  width: 100%;
  z-index: 1;
  -webkit-animation: moveNav 1s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
  animation: moveNav 1s; /* This applies the moveNav animation for all other browsers */
  border-radius: 0 0 0 25%;
}
@keyframes moveNav {
  from {
    left: -100vw;
  }
  to {
    left: 0vw;
  }
}

.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 17px 10px 14px 12px;
    text-decoration: none;
    font-family: "Georgia", Optima, sans-serif;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 1.75s;
    animation: moveNavText 1.75s;
    border-radius: 0 0 25% 0;
    font-size: 18px;
}

.nav-link{
    text-decoration: none ;
}

@keyframes moveNavText {
  from {
    top: -100vw;
  } /* This sets the navbar text 100% above the viewport */
  to {
    top: 0px;
  } /* This lowers the navbar text onto the navbar */
}

@media screen and (max-width: 576px) {
  .Navbar a {
    width: 25%; /* This makes each link take up 1/4 of the navbar */
    font-size: 12px;
  }
}

.Navbar a:hover {
    background-color: rgba(70, 142, 142,.97);
    color: black;
    /*    font-weight: bold;
*/
}
/* Navbar home button */
.Navbar a.active {
  /* This targets the a element on the navbar with the "active" class */
  background-color: rgb(0,56, 56);
/*  font-weight: bold;
*/}

.Navbar a.active:hover {
    background-color: rgba(0, 100, 100, .96);
}

/**************
END NAVBAR STYLES
**************/
.dropdown1 {
    -webkit-animation: moveQuick 2.2s;
    animation: moveQuick 2.2s;
    z-index: 3;
    display: block;
    float: right;
    position: fixed;
    right:8px;
    top:4px;
    font-size: 15px;
}
@keyframes moveQuick {
    from {
        top: -300px;
    }

    to {
        top:4px;
    }
}
/* #dropdownMenuButton::after {
  content: none;
} */

/* .dropdown2 {
    -webkit-animation: moveQuick2 2.4s;
    animation: moveQuick2 2.4s;
    z-index: 3;
    display: block;
    float: right;
    position: fixed;
    right:4px;
    top:13px;
    font-size: 15px;
}
@keyframes moveQuick2 {
    from {
        top: -300px;
    }

    to {
        top:13px;
    }
} */

/**************
   VIDEO STYLES
**************/

#Heading-Video {
    position: fixed;
    right: 0;
    bottom: 0;

    padding: 0 auto;
    margin: 0 auto;
    z-index: -1;
}
/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Heading_Video {
        display: none;
        }
    }

.Video_Text {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  max-width: 100%;

  top: -20px;
  padding: 5px 5px 5px 5px;
  position: relative;
  -webkit-animation: moveVideoText 1.5s;
  animation: moveVideoText 1.5s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
  from {
    top: -800px;
  }
  to {
    top: -20px;
  }
}

/**************
   END VIDEO STYLES
**************/

/**************
   SLIDESHOW STYLES
**************/
#Slideshow {
  z-index: 5;
  padding-top: 10px;
}

#Slideshow_Background {
  background: rgba(255, 255, 255, 0.35);
}

.mySlides {
  display: none; /* This prevents the images from being displayed, use JS to display these */
}

/* Slideshow section container */
#Slideshow_Container {
  width: 32.5vw; /* relative sizing of the container for the slideshow set to 32.5% of the viewport width */
  height: auto;
  padding-top: 1%;
  position: relative; /*sets the container relative to its normal positioning */
  margin: auto; /* horizontally center the container on the page */
}

/* remove the underline from the previous and next buttons*/
#Slideshow_Container a {
  text-decoration: none;
}

/* Images within the slideshow */
.Slideshow_Images {
  vertical-align: middle; /*center the images vertically within slideshow container */
  height: auto;
  box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75);
  width: 100%;
  border-radius: 2%;
}

/* Next and previous buttons */
.Previous,
.Next {
  cursor: pointer;
  position: absolute; /* This makes the next and previous buttons position relative to the slideshow container */
  top: 50%; /* This moves the buttons up in the slideshow container */
  width: auto;
  padding: 2vw;
  color: rgba(0,20,20,.85);
  font-weight: bold;
  font-size: 17px;
  border-radius: 0 3px 3px 0;
  user-select: none; /* this property -> user cannot highlight the text */
  transition: 0.6s ease;
}

/* Position the next button on the right hand side */
.Next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Hover effect on slide show buttons */
.Previous:hover,
.Next:hover {
  background-color: rgba(0, 0, 0, 0.4); /* background of the arrows transparent gray */
  color: white; /*white arrows when hovered over */
}

/* Slideshow text */
.text {
  color: white;
  position: absolute; /*ensures the text is positioned within the image*/
  bottom: 0;
  height: 30%;
  width: 100%; /*element covers the full width of the image*/
  text-align: center;
  font-family: Perpetua, Rockwell Extra Bold;
  letter-spacing: 0.1vw;
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  border-radius: 0px 0px 6px 6px;
}

#slideshow-text{
  padding: 20px 20px 0 20px;
}

/* Dots styling */
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0.25vw;
  background-color: white;
  border-radius: 50%; /* Makes the dots circles by rounding each corner*/
  display: inline-block; /* allows dots to sit next to eachother*/
  transition: background-color 0.6s ease;
  z-index: 1;
}

/* hover effect for slideshow dots */
.active,
.dot:hover {
  background-color: black; /* Sets the color of the dots when active or hovered over */
}

/* Fade animation for slideshow */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  } /* image starts transparent */
  to {
    opacity: 1;
  } /* image ends opaque */
}

@keyframes fade {
  from {
    opacity: 0.4;
  } /* image starts transparent */
  to {
    opacity: 1;
  } /* image ends opaque */
}

/**************
  END SLIDESHOW STYLES
**************/

/**************
   TABLE STYLES
this section covers the styling of the columns and rows within the table
****************/
* {
  /* The asterisk is a universal selector that applies this effect to all elements on the page */
  box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
  float: left;
  width: 50%;
  padding: 2.5% 10px 5px 10px;
  height: 75vh; /* This sets the height of the column to 400px -  this may need to be adjusted depending on the text entered */
  min-height: 300px;
  background-color: rgb(232, 255, 255);
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
  .Column_1 {
    overflow: scroll;
  }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 2.5% 10px 5px 10px;
    padding-top: 1.5%;
    height: 75vh;
    min-height: 300px;
    background-color: rgb(0, 56, 56);
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
/* .Column_tall {
  padding-top: 1%;
  height: 550px;
} */

/* .special_image {
  margin-top: 80px;
   animation: zoominoutsinglefeatured 15s forwards;
} */

/* @keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
} */

.Row:after {
  content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
  display: table;
  clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/**************
    END TABLE STYLES
****************/

/**************
    General CONTACT FORM STYLES
****************/
input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* This creates a box with a border around the contact form input boxes */
  margin-top: 0px;
  margin-bottom: 16px;
  resize: vertical; /* This allows the user to resize the text boxes vertically */
  font-family: Rockwell Extra Bold;
  font-size: 14px;
}

/* Hover effects for input boxes */
/*input[type="text"]:hover {
  box-shadow: 0 0 5px #4d0000 inset;
}*/

/* Submit button */
/*input[type="submit"] {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Perpetua, Rockwell Extra Bold;
}

 .cancel {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}*/


/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #69B4B4;
    color: black;
    transform: scale(1.01);
    transition: transform 1s;
}

/* Form */
form {
  border-radius: 2px;
  background-color: #a8cdcd;
  box-shadow: 0 0 10px #008181 inset;
  padding: 10px;
  font-family: "Trebuchet MS", Optima;
  z-index: 10;
}

/***********************
    POP UP CONTACT FORM STYLES
************************/

.open-button {
    background-color: rgb(0, 95, 90);
    color: white;
    padding: 16px 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 15%;
    cursor: pointer;
    opacity: 0.85;
    position: fixed;
    bottom: 1vw;
    right: 1.75vw;
    width: fit-content;
    font-size: 40px;
    z-index: 10;
    -webkit-animation: moveContactButton 2.5s;
    animation: moveContactButton 2.5s;
}

.backToTop {
    background-color: rgb(0, 95, 90);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 1vw;
    left: 1.75vw;
    width: fit-content;
    z-index: 10;
    -webkit-animation: moveContactButton 2.5s;
    animation: moveContactButton 2.5s;
    text-align:center;
}
@keyframes moveContactButton {
    from {
        bottom: -100px;
    }

    to {
        bottom: 1vw;
    }
}

#contact-btn {
  font-size: 19px;
  font-weight: 600;
  width: fit-content;
}

/* popup form itself, hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0.5vw;
  right: 0.5vw;
  border: 9px solid rgba(0, 129, 129, 0.45);
  border-radius: 5px;
  z-index: 11;
}

/* form container styles */
.form-container {
    max-width: 40vw;
    padding: 1vw;
    background-color: rgb(206, 206, 206);
}

/* input fields set to full width */
.form-container input[type="text"] {
  width: 100%;
  padding: 0.93vw;
  margin: 0.6vw 0 0.6vw 0;
  border: none;
  background: #f1f1f1;
  font-size: 15px;
}

/* focus on inputs, do something */
    .form-container input[type="text"]:focus,
    .form-container input[type="password"]:focus {
        background-color: rgba(198, 255, 255, .25);
        outline: 3px solid rgba(0, 95, 90, .75);
    }

#form-buttons {
  text-align: center;
  margin: 5px 0;
  width: 100%;
}


/* style for the submit button */
.form-container .btn {
    background-color: rgb(0, 95, 90);
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;

    opacity: 0.8;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.form-container .cancel {
    background-color: rgb(131, 0, 7);
}

.form-container .cancel:hover {
    background-color: rgb(211, 0, 11);
    transform: scale(1.01);
    transition: transform 1s;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
  transition-duration: 1s;
}

.list{
    margin: 0 0 0 -45px;
    display: block;
    text-align: center;
    list-style: none;
    font-size: 15px;
}



